
    /*font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;  */ 
    /* использованыый стиль */
   /* стили тела и шапки  */

body{
    background-image: url(../img/abstract-triangle-eges-glow-dark.jpg);
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    background-image: url(../img/37046a3992d2de0df81ae6b1082a6eb8.jpg);
    background-position: center;
    text-align: center;
    color: azure;
    padding: 10px 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
}

 /* стиль контента */

 .sec{
    display: flex;
    max-width: 1200px;
    padding: 20px;
    margin: 10px auto;
}
.main{
    padding-top: 10px;
}
.main_content{
    background-color: rgba(77, 0, 144, 0.479);
    border-radius: 30px;
}
.my_photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 20%;
}
.text_content{
    margin: 10px;
    padding:5px 5px;
    color: rgb(255, 255, 255);
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 800;
    font-style: normal; 
}
.my_job{
    padding:5px 5px;
    
    display: block;
    text-align: center;  
}

/*стиль кнопок */

.leftB{
    background-image:url(../img/left.svg) ;
    background-color: rgba(6, 128, 108, 0.636);
    width: 70px;
    height: 70px;
}
.rightB{
    background-image:url(../img/right.svg) ;
    background-color: rgba(6, 128, 108, 0.636);
    width: 70px;
    height: 70px;
}


.job_txt{
    max-width: 1190px;
    color: rgb(255, 255, 255);
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 800;
    font-style: normal; 

}
._job_image{
    display: flex;
    width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.job_image{
    width: 610px;
    display: flex;
    overflow: hidden;
}
.work_img{
    border-style: outset;
    border-width: 5px;
    border-radius: 20px;
    border-color: aqua;
}
.hreff{
    display: flex;
    justify-content: center;
}
a{
    
    width: 350px;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 10px;
    background-image: linear-gradient(#FE5568 50%, #FE5568 50%), linear-gradient(silver 50%, silver 50%);
   background-position: center bottom;
   background-repeat: no-repeat;
   background-size: 0 5px, 100% 5px;
   color: #ffffff;
   padding-bottom: 3px;
   transition: .5s ease-in-out;
    
}
a:hover{
    background-size: 100% 10px, 100% 10px;
    color: #FE5568;
}
/*стиль второго проекта*/
._job_image2{
    display: flex;
    width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.job_image2{
    width: 610px;
     display: flex;
    overflow: hidden;
}

 /* стиль формы  */

.forma{
    display: block;
    width: 1200px;
    justify-content: center;
}
.secton{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.form{
    background-color: rgba(110, 110, 110, 0.199);
    border-radius: 10px;
}
label{
    padding: 10px;
    font-size: x-large;
    justify-content: center;
    color: rgb(186, 225, 181);
}
input,textarea{
    display: block;
    margin: 5px;
    justify-content: center;
    align-items: center;
    width: 650px;
    
}
textarea{
    display: block;
    margin: 5px;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 100px;

}
.btn{
    display: flex;
    justify-content: center;
}
button{
    margin: 10px;
    border-radius: 30px;
    background-color: rgba(101, 42, 155, 0.708);
    width: 200px;
    height: 50px;
    color: blue;
    font-size: x-large;
}
